---
layout: default
---

<section class="container">
    {% assign coll = site.collections | where: "label", page.collection | first %}
    {% for p in coll.docs %}
    {% capture evenodd %}{% cycle 'even', 'odd' %}{% endcapture %}
    <div {% if p.id %} id="{{p.id}}" {% endif %} class="row content-section vertical-align">
        <div class="col-md-7 {% if evenodd == 'odd' %} col-md-push-5 {% endif %}">
            <h2>{{ p.title }}</h2>
            {{ p.content }}
            <hr>
        </div>
        {% if p.img %}
        <div class="col-md-5 {% if evenodd == 'odd' %} col-md-pull-7 {% endif %}">
            <img class="center-block img-circle img-responsive hidden-xs" src="/img/{{p.img}}">
        </div>
        {% endif %}
    </div>
    {% endfor %}
</section>